
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');


h1, 
.title,
[data-title],
.page-title,
.section-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em !important;
}

.nav-logo {
    height: 30px;
}